<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 col-md">
                <h5></h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#"></a></li>
                    <li><a class="link-secondary" href="#"></a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5></h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#"></a></li>
                    <li><a class="link-secondary" href="#"></a></li>
                    <li><a class="link-secondary" href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
